@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: radial-gradient(circle, rgb(96, 122, 137) 0%, rgb(55, 70, 82) 100%);
    color: white;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding-top: 70px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    transition:all 0.3s ease-in-out
}
header.scrolled {
    background-color: #32343a; 
    padding: 10px 50px;
    flex-direction: row; 
    justify-content: space-between;
}
header.scrolled .logo {
    order: 2; 
}
header.scrolled .navbar {
    order: 1; 
}
.logo img {
    width: 120px; 
    height: auto;
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px; 
}
.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px 15px;
    background-color: rgba(148, 153, 172, 0.534);
    border-radius: 5px;
    transition-duration: 3ms;
}
.navbar a:hover{
    background-color: rgb(55, 70, 82);
    color: white;
}
section {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 100px 20px;
    max-width: 1000px;
    margin: 0 auto 40px;
    gap: 100px; 
}
section#agencia {
    padding-top: 300px; 
}
.section-content {
    flex: 1;
}
.section-content h1 {
    font-size: 40px;
    max-width: 100%; 
}
.section-content p {
    font-size: 18px;
    line-height: 1.5;
    
}
#agencia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    padding: 100px 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.section-photo img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
@media (max-width: 768px) {
    #agencia {
        grid-template-columns: 1fr; 
        text-align: center; 
    }
.section-photo {
        order: -1; 
    }
}
.section-content-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}
.quadrante-texto {
    background-color: white; 
    color: rgb(55, 70, 82); 
    padding: 20px;
    border-radius: 8px; 
    font-size: 22px;
    font-weight: bold;
}
.section-content-2 a {
    text-decoration: none;
    color: rgb(55, 70, 82);
    font-size: 22px;
    padding: 0px 5px;
    background-color: white;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}
.section-content-2 a:hover {
    background-color: rgb(55, 70, 82);
    color: white;
}
.section-reverse {
    flex-direction: row-reverse;
}
#atuacao {
    display: flex;
    justify-content: space-between;
    padding: 100px 20px;
    flex-direction: row-reverse; 
    width: 100%;
}
@media (max-width: 768px) {
    #atuacao {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.quadrantes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px; 
    width: 80%; 
    margin: 0 auto; 
    padding: 0 0; 
}
@media (max-width: 768px) {
    .quadrantes {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
.quadrante {
    text-align: center;
}
.quadrante img {
    width: 100%; 
    height: 200px; 
    object-fit: contain; 
    border-radius: 8px;
    display: block; 
    margin: 0 auto; 
}
.quadrante p {
    margin-top: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.cta-whatsapp {
    text-align: center;
    margin: 40px auto;
}
.cta-whatsapp a {
    display: inline-block;
    background-color: #25D366;
    color: white;
    font-size: 50px;
    padding: 15px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.cta-whatsapp a:hover {
    background-color: #1EBE5D;
}
@media (max-width: 768px) {
    .cta-whatsapp a {
        font-size: 30px; 
        padding: 10px 20px; 
    }
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 20px;
}
.social-links a img {
    width: 70px;
    height: auto;
    transition: transform 0.3s ease;
}
.social-links a img:hover {
    transform: scale(1.1);
}
footer {
    text-align: center;
    padding: 20px;
    color: white;
}
footer a {
    color: #1EBE5D;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
html {
    scroll-behavior: smooth;
}